:root {
  --bg-dark-primary: hsl(207, 26%, 17%);
  --bg-dark-secondary: hsl(209, 23%, 22%);
  --bg-light-primary: hsl(0, 0%, 98%);
  --bg-light-secondary: hsl(0, 0%, 100%);
  --clr-dark: hsl(200, 15%, 8%);
  --clr-light: hsl(0, 0%, 52%);
  --radius: 5px;
  --box-shadow-light: 0px 5px 8px 0px rgb(136 136 136 / 15%);
  --box-shadow-dark: 0px 5px 8px 0px rgb(0 0 0 / 15%);
}

/* TODO: refactor colors var names? */

body {
  overflow-y: scroll;
  overscroll-behavior-y: none;
  background-color: var(--bg-dark-primary);
  color: var(--bg-light-secondary);
}

/* Light / Dark mode */
.light-mode {
  background-color: var(--bg-light-primary);
  color: var(--clr-dark);
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  color: inherit;
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Main */

.App {
  min-height: 100vh;
  text-align: center;
}

main {
  max-width: 69rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

/* Country list */
.country-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.5rem;
  margin-top: 3rem;
  padding-bottom: 5rem;
}

/* Pagination - Material UI */
.MuiPagination-ul {
  justify-content: center;
  margin-bottom: 3rem;
}

/* Spacing for tablet / desktop */
@media (min-width: 550px) {
  .country-list-actions {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1140px) {
  .country-list {
    justify-content: space-between;
  }
}
